	<h3>You have booked with <%= @surgeon.first_name %> <%= @surgeon.last_name %></h3>

	<p><%= link_to "Back to surgeons list", :controller=>"surgeons" %></p>

	<p>Put confirmation messages here!</p>



